html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  #introPic {
    float: left;
  }
  
  #bio {
    float: right;
    /* Portrait */
}
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}


/* Landscape */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}
  
  #bio > li {
    padding: 2px;
  }
  
  #pro {
    width: auto;
  }

  .ul{
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    
    }
    
    
    /* Landscape */
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
    
    }
  }

  .img{
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    
    }
    
    
    /* Landscape */
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
    
    }
  }

  
  .div{
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
    
    }
    
    
    /* Landscape */
    @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
    
    }
  }